<%= stylesheet_link_tag "treatment_policy/faq", :media => "all" %>
<%# 画面上部イメージ %>
<div class="mod-catHead01">
  <h1 class="mod-catHead01-h">
    500<br>
    Internal Server Error
  </h1>
  <h2>
    アクセスしようとしたページは表示できませんでした。
  </h2>
</div>
<%# パンくずリスト %>
<nav class="mod-breadcrumb">
  <ol class="mod-breadcrumb-links lapctbOnly">
    <li><%= link_to "まり鍼灸院", root_path, data: {"turbolinks" => false} %></li>
    <li>500 Internal Server Error</li>
  </ol>
</nav>
