<%= stylesheet_link_tag "treatment_policy/treatment_policy", :media => "all" %>
<%# 画面上部イメージ %>
<div class="mod-keyvisualHead align-lb u-c-wh">
  <h1 class="mod-keyvisualHead-txts">
    手から伝える一人ひとりへの思い
  </h1>
</div>
<%# パンくずリスト %>
<nav class="mod-breadcrumb">
  <ol class="mod-breadcrumb-links lapctbOnly">
    <li><%= link_to "まり鍼灸院", root_path, data: {"turbolinks" => false} %></li>
    <li>治療方針</li>
  </ol>
</nav>
<%# メインコンテンツ %>
<div class="mod-mainContent">
  <div class="treatment_policy wrapin">
    <h2 class="treatment_policy-h">
      <span class="ja">
        「淺野式」の治療方法をもとに実践しています。
      </span>
    </h2>
    <div class="treatment_policy-content">
      淺野周先生が考案された<span class="u-c-c1">「淺野式」</span>は主に痛みの治療を得意としており、<br>
      <span class="u-c-c1">「広範囲に痛みを出しているのは骨付近にある太い神経が圧迫されているから」</span>という仮説のもと骨表面や深部の筋肉を緩めることで、<br>
      神経や血管への圧迫がなくなり、筋肉に血液が循環するようになり、その結果痛みが解消し治癒すると考え、鍼治療を行っています。<br>
      <br>
      筋肉が原因となって出現する頑固な痛みやコリはなぜ起こり、なぜ多くの場合慢性化してしまうのでしょうか。<br>
      それは、<span class="u-c-c1">オーバーユーズ</span>（使いすぎ）や<span class="u-c-c1">ストレス</span>、<span class="u-c-c1">筋肉に負担のかかる姿勢を長く続けている</span>（長時間のパソコン作業等）など、痛みのきっかけはいろいろあると思います。<br>
      そしてその状況が長く続くほど、筋肉は固くなります。<br>
      <span class="u-c-c1">硬くなった筋肉は血管を圧迫するため、血流が悪くなります。</span><br>
      血流が悪くなれば筋肉に酸素や栄養素が十分に届かないばかりか、疲労物質や痛みのもとになる発痛物質を流すことができなくなり、その結果さらに筋肉は硬くなります。<br>
      この悪循環がつらい症状を長引かせてしまうのです。<br>
      <br>
      そして、この<span class="u-c-c1">悪循環を断ち切るのが、鍼治療</span>です。<br>
      鍼治療では表面の筋肉だけでなく、手などでは直接触ることのできない、深いところにある筋肉（インナーマッスル）にまで直接アプローチすることができます。<br>
      硬くなった筋肉に直接鍼をすることで、筋肉がゆるみ血流が回復し、痛みを取り除きます。<br>
      <br>
      また、直接手で触れるような表面の筋肉、つまり皆さんがつらくてよく手で触ったり、もんだりしている場所の筋肉の緊張をだけを治療しても、症状が改善しなかったり、すぐにもとのつらさに戻ってしまうのはなぜでしょうか？<br>
      それは、身体の深いところの筋肉が硬くなり神経を圧迫することで、表面の筋肉が硬くなっているからです。<br>
      つまり深い場所の筋肉を緩め、神経の圧迫をとってあげなければ、表面の筋肉は緩まないのです。<br>
      <br>
      そこで<span class="u-c-c1">「淺野式」</span>鍼治療の出番です。<br>
      浅い筋肉にしか鍼を刺さない治療院が多い中、<span class="u-c-c1">「淺野式」</span>では深い場所の筋肉まで鍼を到達させることができます。<br>
      そうすることで、神経は圧迫から解放され、筋肉の血流も回復し、頑固な痛みやコリを解消できます。
    </div>
    <section class="treatment_policy-difference">
      <div class="treatment_policy-difference-bluelite dsp-flx">
        <div class="treatment_policy-difference-img left-side">
          <%= image_tag 'beginner/beginner_answer_image_01.jpg' %>
          <p class="treatment_policy-difference-cat">淺野式治療</p>
        </div>
        <div class="treatment_policy-difference-contents">
          淺野周先生の治療方法を忠実に行っている。<br>
          <br>
          鍼の本数６０本以上、置鍼時間が４０分程度。<br>
          鍼の深さが骨にまで達する。
        </div>
      </div>
      <div class="treatment_policy-difference-blue dsp-flx">
        <div class="treatment_policy-difference-img right-side">
          <%= image_tag 'beginner/beginner_answer_image_02.jpg' %>
          <p class="treatment_policy-difference-cat">北京堂式治療</p>
        </div>
        <div class="treatment_policy-difference-contents">
          治療の一部に北京堂の治療方法を取り入れていいる。<br>
          <br>
          鍼の本数が少なく、置鍼時間も短い。<br>
          鍼の深さが浅野式と比べて浅い。
        </div>
      </div>
    </section>
  </div>
</div>
