<%= stylesheet_link_tag "contact/contact_thanks", :media => "all" %>
<%# メインコンテンツ %>
<div class="mod-mainContent">
  <div class="wrapin wrapin-sp">
    <h2 class="contact-h">
      <span class="ja">
        お問い合わせ
      </span>
    </h2>
    <div class="mod-thanks">
      お問い合わせいただきありがとうございました。
    </div>
  </div>
</div>
